* {
    margin: 0;
}

.singlePage {
    height: 1080px;
    width: 100%;
}

.halfPage {
    display: inline-block;
    height: 100%;
    width: 50%;
}

.blackBackground {
    background-color: black;
}

.whiteBackground {
    background-color: white;
}